section.contact
    
    .contact__wrap  
        .contact__svg-wrap
            <svg class="contact__logo" width=115 height=auto viewBox="0 0 150 150">
            <use xlink:href="#contact">
            </svg>
        h2.contact__title CONTACT
        .contact__line-bg  
    ul.contact__list
        li.contact__item <span class="contact__item-name">ADDRESS</span><span class="contact__item-addres">Main Street, City.</span>
        li.contact__item <span class="contact__item-name">E-MAIL</span><span class="contact__item-mail">contact@domain.com</span>
        li.contact__item <span class="contact__item-name">PHONE</span><span class="contact__item-phone">555-555-555</span>
        li.contact__item <span class="contact__item-name">WEBSITE</span><span class="contact__item-www">www.yourweb.com</span>